> ### AutoML 이용 실습

In [8]:
import pandas as pd
df_train = pd.read_csv('train.csv').drop(['id','Store','Date','Promotion1','Promotion2','Promotion3','Promotion4','Promotion5','IsHoliday'],axis=1)
df_test = pd.read_csv('test.csv').drop(['id','Store','Date','Promotion1','Promotion2','Promotion3','Promotion4','Promotion5','IsHoliday'],axis=1)

In [9]:
df_test.head(3)

   Temperature  Fuel_Price  Unemployment
0        68.55       3.617         6.573
1        62.99       3.601         6.573
2        67.97       3.594         6.573